<html>
  <body>
    <div>
      <h1><i>U Bank Fund Transfer Form</i></h1>
    </div>
      <form name="fundTransfer">
        <div class="row">
          <div class="col" [hidden]=fundTransferRes.properties.FromAccount.isVisible>
            <label class="label">{{fundTransferRes.properties.FromAccount.labelName}} {{fundTransferRes.properties.FromAccount.isVisible}}: </label>
            <input type="text" class="form-control"  name="fromAccount" id="fromAccount" value="{{fundTransferRes.data.FromAccount}}"
               [disabled]=fundTransferRes.properties.FromAccount.isEditable ng-required="true">
          </div>
          <div class="col">
            <label class="label">{{fundTransferRes.properties.ToAccount.labelName}} : </label>
            <input type="text" class="form-control" name="toAccount" id="toAccount" value="{{fundTransferRes.data.ToAccount}}" [disabled]=fundTransferRes.properties.ToAccount.isEditable><br>
          </div>
          <div class="col">
            <label class="label">{{fundTransferRes.properties.Amount.labelName}} : </label>
            <input type="text" class="form-control" name="amount" id="amount" value="{{fundTransferRes.data.Amount}}" [disabled]=fundTransferRes.properties.Amount.isEditable><br>
          </div>
          <div class="col">
            <label class="label">{{fundTransferRes.properties.Description.labelName}} : </label>
            <input type="text" class="form-control" name="description" id="description" value="{{fundTransferRes.data.Description}}" [disabled]=fundTransferRes.properties.Description.isEditable>
          </div>
        </div>
    </form>
    <button name="disable" (click)="disableData()">Disable</button>
    <button name="enable" (click)="enableData()">Enable</button>
    <h3>{{showData}}</h3>
  </body>
</html>
